.sidenav {
    height: 100%;
    width: 167px;
    position: fixed;
    z-index: 9000;
    top: 65px;
    left: 0;
    background-color: black;
    color: #00BFFF;
    overflow-x: hidden;
    padding-top: 20px;
    font-family: 'Doppio One';
    text-align: center;
}

.sidenav a {
    padding: 6px 8px 6px 16px;
    text-decoration: underline;
    font-size: 25px;
    color: #818181;
    display: block;
}

.sidenav a:hover {
    color: #f1f1f1;
}

.sidenavright {
    height: 100%;
    width: 170px;
    position: fixed;
    z-index: 9000;
    top: 0;
    right: 0;
    background-color: black;
    color: #00BFFF;
    overflow-x: hidden;
    padding-top: 20px;
    text-align: center;
    font-family: 'Doppio One';
}

.sidenavright a {
    padding: 6px 8px 6px 16px;
    text-decoration: underline;
    font-size: 25px;
    color: #818181;
    display: block;
    font-family: 'Doppio One';
}

.sidenavright a:hover {
    color: #f1f1f1;
}

.main {
    margin-left: 160px; /* Same as the width of the sidenav */
    font-size: 28px; /* Increased text to enable scrolling */
    padding: 0px 10px;
    background-color: #111;
}

@media screen and (max-height: 450px) {
    .sidenav {padding-top: 15px;}
    .sidenav a {font-size: 18px;}
}

div.a {
    text-align: center;
    color: #00BFFF;
    font-family: 'Doppio One';
}


title.b {
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
}

.leaflet-bar{
    font-family: Arial Black,Arial Bold,Gadget,sans-serif;
    text-align: center;
}

.slide {
    -webkit-appearance: none;
    height: 25px;
    background: #d3d3d3;
    outline: none;
    text-align: center;
    opacity: 0.7;
    -webkit-transition: .2s;
    transition: opacity .2s;
}

.slide:hover {
    opacity: 1;
}

.slide::-webkit-slider-thumb {
    -webkit-appearance: none;
    appearance: none;
    width: 25px;
    height: 25px;
    background:#00BFFF;
    cursor: pointer;
}

.slide::-moz-range-thumb {
    width: 25px;
    height: 25px;
    background: #00BFFF;
    cursor: pointer;
}

#LayerToggleID{
    padding-left: 22px;
}


#popLegend{
    position: absolute;
    z-index: 9000;
    left: 330px;
    top: 560px;
    max-width: 150px;
    max-height: 210px;
}
#qpeLegend{
    position: absolute;
    z-index: 9000;
    left: 175px;
    top: 470px;
    max-width: 150px;
    max-height: 300px;
}
#qpfLegend {
    position: absolute;
    z-index: 9000;
    right: 330px;
    top: 600px;
    max-width: 150px;
    max-height: 170px;
}
#soilMoistLegend{
    position: absolute;
    z-index: 9000;
    right: 175px;
    top: 470px;

}

.modal {
    display: none; /* Hidden by default */
    position: fixed; /* Stay in place */
    z-index: 10000; /* Sit on top */
    padding-top: 100px; /* Location of the box */
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 100%; /* Full width */
    height: 100%; /* Full height */
    overflow: auto; /* Enable scroll if needed */
    background-color: rgb(0,0,0); /* Fallback color */
    background-color: rgba(0,0,0,0.4); /* Black w/ opacity */
    font-family: 'Doppio One';
}

.modal-guts {
    position: fixed;
    background-color: #000000;
    color: #00BFFF;
    border: 1px solid #888;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 80%;
    height: 80%;
    padding: 20px 50px 20px 20px;
    overflow: auto;
    text-align: center;
}

.modal-content {
    background-color: #000000;
    color: #00BFFF;
    margin: auto;
    padding: 20px;
    border: 1px solid #888;
    width: 80%;
    font-family: 'Doppio One';
    text-align: center;
}

/* The Close Button */
.close {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close:hover,
.close:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.close2 {
    color: #aaaaaa;
    float: right;
    font-size: 28px;
    font-weight: bold;
}

.close2:hover,
.close2:focus {
    color: #000;
    text-decoration: none;
    cursor: pointer;
}

.select{
    font-family: 'Doppio One';
}



/*checkboxes styling*/
/* The container */
.container {
    display: block;
    position: relative;
    padding-left: 20px;
    margin-bottom: 12px;
    margin-left: 15px;
    cursor: pointer;
    font-size: 22px;
    -webkit-user-select: none;
    -moz-user-select: none;
    -ms-user-select: none;
    user-select: none;
    box-align: center;
}

/* Hide the browser's default checkbox */
.container input {
    position: absolute;
    opacity: 0;
    cursor: pointer;
    height: 0;
    width: 0;
}

/* Create a custom checkbox */
.checkmark {
    position: absolute;
    top: 0;
    left: 0;
    height: 15px;
    width: 15px;
    background-color: #eee;
}

/* On mouse-over, add a grey background color */
.container:hover input ~ .checkmark {
    background-color: #ccc;
}

/* When the checkbox is checked, add a blue background */
.container input:checked ~ .checkmark {
    background-color: red;
}

/* Show the checkmark when checked */
.container input:checked ~ .checkmark:after {
    display: block;
}